<div class="info_box">
    <div class="info_box_heading">
        What is this site about?
    </div>
    <div class="info_box_content">
        As both network speeds and budgets for computer game development increase online play has become a mainstay within many modern game titles. As the emphasis towards online play increases games that support artificial intelligence as a means to challenge players are looking dated. This raises the barrier of entry for the computer game market greatly as established companies build more interactive online services. Smaller players in the industry must find a space in which to successfully market their products without the backing of the huge player base, existing fan loyalty and massive online network infrastructure.  Shift the Balance attempts to provide a new type of artificial intelligence. A type of artificial intelligence that is centralised and could possibly one day use machine learning techniques across a distributed player network.
    </div>
</div>

<div class="info_box">
    <div class="info_box_heading">
        So what makes this different?
    </div>
    <div class="info_box_content">
        Each time you play Shift the Balance all of your manoeuvres and gameplay decisions are recorded on the server. In fact each time you complete a move within the game a request is made back to the server. While server records your move it considers making its own moves and then sends these moves back to the game. Although the game itself is running on your client machine via the Web browser all of the artificial intelligence decisions are being made on the server. Because all of these gameplay decisions are stored on the server there is the potential to implement on-line machine learning algorithms that will assist the server in changing the way it plays against you in the next game.
    </div>
</div>

<div class="info_box">
    <div class="info_box_heading">
        How did this project come about?
    </div>
    <div class="info_box_content">
        This is a research project that was conducted within university guidelines. This project has been created to assist the computer game industry to head in new directions when they consider developing artificial intelligence for game titles. There could be a potential for this kind of artificial intelligence network within viable commercial computer game titles. This network could then in turn be used in place of an extensive on-line player network which is both expensive and complicated to set up.
    </div>
</div>

<div class="info_box">
    <div class="info_box_heading">
        Who is responsible?
    </div>
    <div class="info_box_content">
        Stewart Matheson. He <%= link_to "blogs", "http://rtmatheson.com" %>.<br />
    </div>
</div>

<div class="info_box">
    <div class="info_box_heading">
        What can I do?
    </div>
    <div class="info_box_content">
        It easy to get involved with this project. First things first why not play a few games and send me feedback. Second all of the code is open source. Why not <%= link_to "check it out", "http://github.com/stewartmatheson/The-AI-Server" %> and let me know what you think.
    </div>
</div>

<div class="info_box">
    <div class="info_box_heading">
        A work in progress...
    </div>
    <div class="info_box_content">
        Please don't mistake this for a working game or a commercial title intended for play. It's not. It's a demonstration to prove a concept. Nothing more. If you're expecting a 100% complete well polished game then you're definitely in the wrong place.
    </div>
</div>










